*{
    margin: 0;
    padding: 0;
}

/*BackGround*/
.dropdown{
    margin-left: 80%;
    margin-top: 10px;
}
.dropdown-menu{
margin-left: 80%;
margin-top: 10px;
}
.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

.content {
    background-color: rgba(255, 255, 255, .8);
    border-radius: .25em;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 10%;
    transform: translate(-50%, -50%);
}


@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

/*INDEX*/
header{

margin-top: 0;
margin-bottom: 140px;
}

.agenda__titulo{
    text-align: center;
    color: #09f;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    background-color: rgb(255, 255, 255);
    list-style: none;
}
.contenido{
    display: grid;
    width: 260px;
    height: 260px;
    border: 3px black solid;
    margin-left: 40%;
    top: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;

}

/*ERROR*/
.error{
    background-color: burlywood;
    text-align: center;
    height: 130px;
    padding:  10px;
    margin-top: -390px;
    position: relative;
}

/*INICIO*/
.inicio{
    background-color: rgb(207, 95, 95);
    text-align: center;
    height: 130px;
    padding:  10px;
    margin-top: -290px;
    position: relative;
}


/*Principal*/

.header__principal{
    margin-top: 0;
    background-color: rgb(201, 201, 201);
    display: grid;
}

.titulo__especialidad{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-left: 40%;
    margin-top: 100px;
    margin-bottom: 15px;
    text-align: center;
}

.nombre__trauma{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 40%;
    text-align: center;
}

/*CALENDARIO*/

.calendario{
    width: 320px;
    height: 300px;
    margin-left: 2%;
    margin-top: -220px;
    padding: 10px;
    background-color: rgb(224, 224, 224);
    border: 2px black solid;
}
.calendario__informacion{
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 18px ;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}


.calendario__mantes {
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-right: auto;
}

.calendario__msiguiente {
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-left: auto;
}

.calendario__semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.calendario__fecha{
    display: grid;
    grid-template-columns: repeat(7, 1fr);;
    grid-gap: 4px;
    font-family: Arial, Helvetica, sans-serif;

}

.calendario__item{
display: grid;
line-height: 2;

}


.calendario__mes, .calendario__año{
    padding: .5em 1em;
}

.calendario__hoy{
    background: lightcoral;
    color: white;
    width: 44%;
    border: 1px;
}


.calendario__diasatras {
    opacity: 50%;
}

.formulario__principal{
    display: grid;
    margin-left: 10px;
    margin-top: 20px;
    width: 200px;
}



/*ERROR*/
.error2{
    background-color: burlywood;
    text-align: center;
    height: 50px;
    padding:  10px;
    margin-top: -400px;
    margin-left: 400px;
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/*INICIO*/
.inicio2{
    background-color: rgb(207, 95, 95);
    text-align: center;
    height: 50px;
    padding:  10px;
    margin-top: -400px;
    margin-left: 400px;
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo__datos{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}


.turnera{
    margin-top: -120px;
    margin-bottom: 30px;
    padding: 10px;
    width: 310px;
    border: 1px black solid;
    margin-left: 1%;
    background-color: #6c3;
    font-family: Arial, Helvetica, sans-serif;


}

.imagenT{
    margin-left: 40%;
    width: 110px;
    height: 110px;
    margin-top: -90px;
}


.nombreP{
    align-items: center;
    display: grid;
    width: 250px;
    padding: 5px;
}

.apellidoP{
    text-align: center;
    padding: 5px;
display: grid;
width: 250px;

}

.obrasocialP{
    text-align: center;
    padding: 5px;
    display: grid;
    width: 250px;

}

.dniP{
    display: grid;
    width: 250px;
    text-align: center;
    padding: 5px;
}

.telP{
    display: grid;
    width: 250px;
    text-align: center;
    padding: 5px;
} 
.dirP{
    display: grid;
    width: 250px;
    text-align: center;
    padding: 5px;
} 

.confirmarTurno{
    margin-top: 5px;
    padding: 10px;

    
} 

.horarios__trauma{

    margin-left: 26%;
    margin-top: -480px;
    margin-bottom: 30px;
    background-color: rgb(235, 235, 235);
    width: 860px;
    text-align: center;
}

.items{
    border: 1px black solid;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}

/*CLINICA*/

.imagenC{
    margin-left: 40%;
    width: 110px;
    height: 110px;
    margin-top: -90px;
}


.titulo__datosC{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}


.turneraC{
    margin-top: -120px;
    margin-bottom: 30px;
    padding: 10px;
    width: 310px;
    border: 1px black solid;
    margin-left: 1%;
    background-color: rgb(235, 235, 235);
    font-family: Arial, Helvetica, sans-serif;


}

.nombrePC{
    align-items: center;
    display: grid;
    width: 250px;
    padding: 5px;
}

.apellidoPC{
    text-align: center;
    padding: 5px;
display: grid;
width: 250px;

}

.obrasocialPC{
    text-align: center;
    padding: 5px;
    display: grid;
    width: 250px;

}

.dniPC{
    display: grid;
    width: 250px;
    text-align: center;
    padding: 5px;
}

.telPC{
    display: grid;
    width: 250px;
    text-align: center;
    padding: 5px;
} 
.dirPC{
    display: grid;
    width: 250px;
    text-align: center;
    padding: 5px;
} 

.confirmarTurnoC{
    margin-top: 5px;
    padding: 10px;
        width: 250px;


} 


.horarios__clinica{

    margin-left: 26%;
    margin-top: -480px;
    margin-bottom: 30px;
    background-color: rgb(235, 235, 235);
    width: 860px;
    text-align: center;
    
}


.itemsC{
    border: 1px black solid;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}

.itemsC2{
    border: 1px black solid;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}

.lista__pacientes{
    list-style: none;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px black solid;
    padding: 10px;
    margin-bottom: 10px;
}

.horarios__subtitulo{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px black solid;
    background-color: rgb(201, 201, 201);
}

/*ENDO*/

.imagenE{
    margin-left: 40%;
    width: 110px;
    height: 110px;
    margin-top: -90px;
}


.titulo__datosE{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}


.turneraE{
    margin-top: -120px;
    margin-bottom: 30px;
    padding: 10px;
    width: 310px;
    border: 1px black solid;
    margin-left: 1%;
    background-color: rgb(235, 235, 235);
    font-family: Arial, Helvetica, sans-serif;


}

.nombrePE{
    align-items: center;
    display: grid;
    width: 250px;
    padding: 5px;
}

.apellidoPE{
    text-align: center;
    padding: 5px;
display: grid;
width: 250px;

}

.obrasocialPE{
    text-align: center;
    padding: 5px;
    display: grid;
    width: 250px;

}

.dniPE{
    display: grid;
    width: 250px;
    text-align: center;
    padding: 5px;
}

.dirPE{
    display: grid;
    width: 250px;
    text-align: center;
    padding: 5px;
} 

.telPE{
    display: grid;
    width: 250px;
    text-align: center;
    padding: 5px;
} 

.confirmarTurnoE{
    margin-top: 5px;
    padding: 10px;
    width: 250px;


    
} 


.horarios__endo{

    margin-left: 26%;
    margin-top: -480px;
    margin-bottom: 30px;
    background-color: rgb(235, 235, 235);
    width: 860px;
    text-align: center;
}

.itemsE{
    border: 1px black solid;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}


/*GASTRO*/

.imagenG{
    margin-left: 40%;
    width: 110px;
    height: 110px;
    margin-top: -90px;
}


.titulo__datosG{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}


.turneraG{
    margin-top: -120px;
    margin-bottom: 30px;
    padding: 10px;
    width: 310px;
    border: 1px black solid;
    margin-left: 1%;
    background-color: rgb(235, 235, 235);
    font-family: Arial, Helvetica, sans-serif;



}

.nombrePG{
    align-items: center;
    display: grid;
    width: 250px;
    padding: 5px;
}

.apellidoPG{
    text-align: center;
    padding: 5px;
display: grid;
width: 250px;

}

.obrasocialPG{
    text-align: center;
    padding: 5px;
    display: grid;
    width: 250px;

}

.dniPG{
    display: grid;
    width: 250px;
    text-align: center;
    padding: 5px;
}

.telPG{
    display: grid;
    width: 250px;
    text-align: center;
    padding: 5px;
} 

.dirPG{
    display: grid;
    width: 250px;
    text-align: center;
    padding: 5px;
} 

.confirmarTurnoG{
    margin-top: 5px;
    padding: 10px;
    width: 250px;


    
} 


.horarios__gastro{

    margin-left: 26%;
    margin-top: -480px;
    margin-bottom: 30px;
    background-color: rgb(235, 235, 235);
    width: 860px;
    text-align: center;
}

.itemsG{
    border: 1px black solid;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}


/*URO*/

.imagenU{
    margin-left: 40%;
    width: 110px;
    height: 110px;
    margin-top: -90px;
}

.titulo__datosU{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}


.turneraU{
    margin-top: -120px;
    margin-bottom: 30px;
    padding: 10px;
    width: 310px;
    border: 1px black solid;
    margin-left: 1%;
    background-color: rgb(235, 235, 235);
    font-family: Arial, Helvetica, sans-serif;



}

.nombrePU{
    align-items: center;
    display: grid;
    width: 250px;
    padding: 5px;
}

.apellidoPU{
    text-align: center;
    padding: 5px;
display: grid;
width: 250px;

}

.obrasocialPU{
    text-align: center;
    padding: 5px;
    display: grid;
    width: 250px;

}

.dniPU{
    display: grid;
    width: 250px;
    text-align: center;
    padding: 5px;
}

.telPU{
    display: grid;
    width: 250px;
    text-align: center;
    padding: 5px;
} 

.dirPU{
    display: grid;
    width: 250px;
    text-align: center;
    padding: 5px;
} 

.confirmarTurnoU{
    margin-top: 5px;
    padding: 10px;
    width: 250px;


    
} 


.horarios__uro{

    margin-left: 26%;
    margin-top: -480px;
    margin-bottom: 30px;
    background-color: rgb(235, 235, 235);
    width: 860px;
    text-align: center;
}

.itemsU{
    border: 1px black solid;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}


/*PSIQUIATRIA*/

.imagenP{
    margin-left: 40%;
    width: 110px;
    height: 110px;
    margin-top: -90px;
}



.titulo__datosP{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}


.turneraP{
    margin-top: -120px;
    margin-bottom: 30px;
    padding: 10px;
    width: 310px;
    border: 1px black solid;
    margin-left: 1%;
    background-color: rgb(235, 235, 235);
    font-family: Arial, Helvetica, sans-serif;



}

.nombrePP{
    align-items: center;
    display: grid;
    width: 250px;
    padding: 5px;
}

.apellidoPP{
    text-align: center;
    padding: 5px;
display: grid;
width: 250px;

}

.obrasocialPP{
    text-align: center;
    padding: 5px;
    display: grid;
    width: 250px;

}

.dniPP{
    display: grid;
    width: 250px;
    text-align: center;
    padding: 5px;
}

.telPP{
    display: grid;
    width: 250px;
    text-align: center;
    padding: 5px;
} 

.dirPP{
    display: grid;
    width: 250px;
    text-align: center;
    padding: 5px;
} 

.confirmarTurnoP{
    margin-top: 5px;
    padding: 10px;
    width: 250px;

    
} 

.horarios__psiqui{

    margin-left: 26%;
    margin-top: -480px;
    margin-bottom: 30px;
    background-color: rgb(235, 235, 235);
    width: 860px;
    text-align: center;
}

.itemsP{
    border: 1px black solid;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}
