*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(62, 134, 74);
}
header{
    
background-color: rgb(62, 134, 74);
margin-top: 0;
margin-bottom: 140px;
}
h1{ 
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}


.formulario{
    display: grid;
    width: 260px;
    height: 250px;
    border: 3px black solid;
    margin-left: 500px;
    text-align: center;
    background-color: rgb(73, 73, 194);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
}

.contenedor__especialidades{
    flex-direction: column;
    display:inline-flex;

}


/*<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*/